* {
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1, p {
    color:rgb(75, 16, 16)
}

img {
    border: 10px;
    border-style:groove;
    width: 150px;
    height: 150px;
    padding: 5px;
}

.result,
.score {
    color: blue;
    font-size: large;
    border: 3px;
    padding: 20px;
    
}

.result {
    width : 30%;
    animation: my-animation 1s;
    color:black;
    font-weight: 800;
    font-size: 20px;
    min-width: 150px;
    text-align: center;
}

.player-score {
    color: rgb(75, 75, 202);
}

.computer-score {
    color: rgb(231, 92, 92);
}

.score {
    border-style:solid  
}

.playing-area,
.displaying-area,
.image-area {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px;
}


.image-area {
    width: 60%
}

.playing-area {
    width: 60%;
    gap : 1%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
}

.play-button,
.restart-button {
    font-size: 50px;
    border-radius: 40%;
    padding: 15px;
    background-color: rgb(160, 208, 247);
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 10px;
}

.play-button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }


.displaying-area {
    width: 60%;
    gap: 40px;
    justify-content: space-between;
    text-align: center;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    padding: 5px;
    font-size: 20px;
}


.restart-button {
    padding: 20px;
    background-color: rgb(220, 64, 64);
    font-size: 2rem;
    margin-top: 50px;
    color: white;
}

.restart-button:active {
    background-color: rgb(153, 27, 27);
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }


  @keyframes my-animation {        
    from {
      opacity : 0;
      left : -50px;
    }
    to {
      opacity : 1;
      left : 0;
    }      
  }